<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Detection</title>
</head>
<body>
    <h1>Emotion Detection Demo</h1>
    <div id="emotionLabel"></div>
    <video id="videoElement" autoplay></video>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const emotionLabelElement = document.getElementById('emotionLabel');
            const video = document.getElementById('videoElement');
    
            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then((stream) => {
                        video.srcObject = stream;
    
                        const eventSource = new EventSource('/video_feed');
                        eventSource.onmessage = (event) => {
                            const emotionLabel = event.data;
                            emotionLabelElement.textContent = `Detected Emotion: ${emotionLabel}`;
                        };
                    })
                    .catch((error) => {
                        console.error('Error accessing camera:', error);
                    });
            } else {
                console.error('getUserMedia is not supported');
            }
        });
    </script>   
</body>
</html>
